* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121214;
    color: #fff;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 26px;
    margin-bottom: 50px;
    
}
.container {
    width: 90%;
    max-width: 800px;
    background-color: #121214;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 3px solid;
    box-shadow: 0 0 2px 2px #f1f1f133;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 24px;

}

.question {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.answers-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    font-size: 22px;
    padding: 8px;
}

.answer {
    width: 100%;
    font-size: 18px;
    background-color: #4863f7;
    color: #fff;
    
    border: none;
    margin-top: 24px;
    padding: 12px 20px;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px;
    transition: filter .2s;
    cursor: pointer;
}

.answer:not(:disabled):hover {
   filter: brightness(0.8);
    
}

.answer:disabled {
    cursor: not-allowed;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.next-button {
    font-size: 18px;
    background-color: #4863f7;
    color: #fff;
    border: none;
    margin-top: 24px;
    padding: 12px 20px;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px;
    transition: .2s;
    cursor: pointer;
}

.next-button:hover {
   filter: brightness(0.8);
    color: #121214;
}

.iniciar-quizz {
    font-size: 18px;
    background-color: #4863f7;
    color: #fff;
    border: none;
    margin-top: 24px;
    padding: 12px 20px;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px;
    transition: .2s;
    cursor: pointer;
}

.iniciar-quizz:hover {
    filter: brightness(0.8);
    color: #121214;
}

.hide {
    display: none;
}

.correct {
    background-color: #4caf50;
}

.incorrect {
    background-color: #f44336;
}